[2017-05-04 21:07] bbashy opened #1 "Demo"
May be able to use this with some changes: https://htmlpreview.github.io

[2017-05-05 09:38] freekmurze commented on #1
Thanks for your suggestion. This component is far from finished yet, so don't use yet. I'll add a little note in the readme.

[2017-05-05 09:38] #1 closed, assigned to nobody

[2017-05-05 09:39] bbashy commented on #1
Yeah I'm not, just saw it and thought the htmlpreview may be good after reading the demo section in the readme.

Have fun!

[2017-05-12 05:28] shaodahong opened #4 ".tabs-component-tab-a css attr"
oh, `.tabs-component-tab-a` class you should be add css attr `user-select:none`, because the mouse will be selected when sliding

[2017-05-12 14:47] sebastiandedeyne commented on #4
Closing this for now, see #5 for reasoning.

However, if lots of people would request this in the future, we're open for changing our minds :)

[2017-05-12 14:47] #4 closed, assigned to nobody

[2017-05-18 02:17] spyric opened #8 "Moving prefix and suffix to slot"
Hello. Thanks for great package. But I want to offer you to move prefix and suffix content to slots. Since it can have HTML and become a bit complicated to handle dynamic things like counters.

If you like the idea I can take care about implementing it

[2017-05-18 07:47] sebastiandedeyne commented on #8
Hi! We really like the idea, we even tried to do it ourselves at some point: #6

There are some hurdles in the implementation to get slots to work here. Feel free to play around and if you're able to find a solution to get everything to work, send a PR.

Please ensure that passing them as props also still work if you'd do this.

[2017-05-19 12:20] visualcookie opened #9 "Doesn't work with vue-router"
When using vue-router, I can't access the tabs anymore.

[2017-05-19 12:36] sebastiandedeyne commented on #9
What do you mean by "can't access the tabs anymore"? Could you provide some steps (and code) on how to reproduce this issue?

[2017-05-19 12:44] visualcookie commented on #9
Sure. What happens is that when I click on a tab, he screws up the router entirely (e.g. removes /#/) and doesn't even navigate to the clicked tab. You can easily test it by using `vue-cli` and create a new webpack based project. (Codesamples from it below)

**main.js**:
[code]

**components/Home.vue**:
[code]

**router/index.js**:
[code]

[2017-05-19 12:47] visualcookie commented on #9
Also here's a video example of it: http://recordit.co/OlJbVjBaYT

[2017-05-19 12:49] sebastiandedeyne commented on #9
Hmm, this is because the tabs use a hash to store the active tab in the url as fragment. We'd need an option to disable this for this to be used with vue-router (this package wasn't made with vue-router in mind, more for static sites that need a few sprinkles of dynamic components).

I'll try to look into this soon and see what I can do!

[2017-05-19 12:55] visualcookie commented on #9
Yeah, thought about it. If it would also work to have the tabs active on refresh or by url would be a bomb but if URL changing doesn't work with vue-router, I'm also fine with an upcoming solution.

[2017-05-23 13:43] #8 closed, assigned to nobody

[2017-05-27 14:55] alexsandro-xpt opened #10 "Close button feature"
I request a new feature, a close button look like a close button at Chrome Browser tab.

[2017-05-27 20:11] freekmurze commented on #10
This component doesn't come with layout, you should do all styling yourself.

[2017-05-27 20:11] #10 closed, assigned to nobody

[2017-07-07 14:58] Eduardoveras commented on #9
+1, same issue here with vue router

[2017-07-18 09:32] mattandrews opened #11 "Separating the tabs from the content?"
Thank you for this component – it's really well-designed and thought out and I appreciate the work that's gone into it (particularly when JS is disabled).

My app has a requirement for a tab to be separate visually from its content (really, the "tab" is just a toggle that shows/hides another `<div>` elsewhere). This means I can't use this component as it currently works because its HTML structure

[2017-07-18 10:19] cristijora commented on #11
What about
[code]

I think this should work but only with v-show and not v-if

[2017-07-24 23:44] mjalindahl commented on #9
+1, same issue as well.

[2017-07-25 09:46] freekmurze commented on #9
It might be a while until we get around this. We'd accept a fully tested, non breaking PR that fixes this.

[2017-08-01 06:31] meyergre commented on #9
Using `mode: 'history' ` in vue-router's initialization as a workaround works for me

[code]

[2017-08-01 19:04] dsandber opened #12 "Allow inner nested tabs to not set anchors"
I want to have tabs inside my tabs, but only the outside tabs should set the anchor.

I tried setting href='' on the inside tabs, hoping that would be a cue to not change the anchor, but it didn't work.

I was able to work-around by using jquery to take the href off of the the inner tabs.

It would be nice if setting href='' or a new property "no_anchor=true" would prevent the tab from updating th

[2017-08-01 19:05] dsandber commented on #12
I also tried setting all the inner tab id to be the same as the outer tab name, but that didn't work as all the inner tabs appeared open.

[2017-08-05 11:22] dsandber commented on #12
I created a PR for this:

https://github.com/spatie/vue-tabs-component/pull/13

[2017-08-05 19:39] freekmurze commented on #12
Conversation continues in #13

[2017-08-05 19:39] #12 closed, assigned to nobody

[2017-08-07 12:57] digitalit commented on #9
This worked for me.

[code]

[2017-09-09 10:35] manelclos commented on #11
Hi @mattandrews, there is a "changed" event emitted when a new tab is selected:
[code]
Also, you could be using jQuery to "move" content, here I move a form into the "address" tab:
[code]

[2017-09-09 11:10] manelclos commented on #9
I had the same issue. I've created pull request https://github.com/spatie/vue-tabs-component/pull/14, comments welcomed!

[2017-09-09 11:15] manelclos opened #15 "Using the library with a <script> tag"
Hi,

I'm trying to use the library loading it using a <script> tag. First problem is that Tabs and Tab are not exported to the global scope. Second problem is that "vue-tabs" seems not to be a valid name. As a workaround I've changed webpack.config.js to name it "vuetabs" instead:

[code]

and use it like:

[code]

What's the correct way to use it without needed these modifications?

Thanks!

[2017-09-09 12:53] freekmurze commented on #9
We'll handle this further in #14

[2017-09-09 12:53] #9 closed, assigned to nobody

[2017-09-18 06:44] pjar commented on #15
I'd love to have that option too since I work on old stack (Rails 3) so have no way of using yarn or npm.

[2017-09-18 08:21] pjar opened #17 "Include /dist directory"
We use the old stack (Rails 3) and the only way for us to use these great components is by having .js file to be able to include it in a script tag.

I can run `npm run build` manually, however, sometimes it is not as straightforward as it should be, npm is npm. I've just spent 1 hour trying to figure out why builds are failing and it turned out that one of the libs became broken: https://github.c

[2017-09-19 04:43] claide opened #18 "Inject Icons on the tab controls"
Hi, I wonder how to add or customize the `li anchor` tags to have an icon or images. Is it possible to have an option like below?

[code]

Would love to have like this kind of option.
Thanks man!

[2017-09-19 06:21] freekmurze commented on #18
You can do that using the `prefix` prop. Take a look at [our demo page](http://vue-tabs-component.spatie.be/) (last tab)

[2017-09-19 06:21] #18 closed, assigned to nobody

[2017-09-25 11:15] #11 closed, assigned to nobody

[2017-09-25 11:15] sebastiandedeyne commented on #11
@manelclos' solution should do the trick. Feel free to reopen if you're still having issues here :)

[2017-09-25 11:15] mattandrews commented on #11
Great, thank you!

[2017-09-25 11:17] sebastiandedeyne commented on #17
Gonna consider look into doing this for our packages soon, I'll keep you posted!

[2017-09-25 11:17] sebastiandedeyne commented on #15
I'll look into this together with #17!

[2017-09-27 11:44] manelclos opened #20 "Starting point css"
When using vue-tabs-component, I copied the CSS form the example webpage and modified it to suit my needs. I was wondering if there is any official CSS that is shipped as a base for users to modify.

We had to move "list-style: none" into a more specific selector to be able to use it within Django admin. But I can't find any css code other than the one in docs folder, which is not referenced in th

[2017-09-28 08:51] willemvb commented on #20
Thanks for the suggestions! Tweaked it a little and added the CSS reference to the README.

[2017-09-28 08:51] #20 closed, assigned to nobody

[2017-10-03 18:21] jdooley511 opened #22 "Javascript error if useUrlFragment not specified"
Hey there,

I'm not sure if it's intentional to require useUrlFragment to be specified or not, but if I do not specify anything, I get Javascript errors in the console anytime I click a tab:

`Uncaught TypeError: Cannot read property 'useUrlFragment' of undefined at VueComponent.selectTab `

If I specify it, everything works fine.
`<tabs cache-lifetime="120" :options="{ useUrlFragment: false }">`

[2017-10-04 10:31] freekmurze commented on #22
This is fixed in `1.2.2`

[2017-10-04 10:31] #22 closed, assigned to nobody

[2017-10-05 20:11] mnebus opened #23 "fix unset options prop issues is still an issue"
the default() for options needs to return an object.

change this:
options: {
                type: Object,
                required: false,
                **default () {
                    useUrlFragment: true
                },**
},

to this:
options: {
                type: Object,
                required: false,
                **default () {
                   return {  useUrlFragment: tru

[2017-10-06 15:08] manelclos commented on #23
Exactly as I tested and proposed: https://github.com/spatie/vue-tabs-component/pull/19
+1

[2017-10-06 15:11] sebastiandedeyne commented on #23
Fixed in `1.3.0`

[2017-10-06 15:11] #23 closed, assigned to nobody

[2017-10-10 19:36] kmohrf opened #26 "pluggable storage"
hey,

thanks for working on this :). It would be nice if the storage backend would be pluggable and could be replaced. the expiringStorage is probably a good fit for easier setups but in my case I’d like to control which tab is displayed. apart from that this would also open up the possibility to prevent tab changes.

i will probably start working on this today and if you’d like to have this featu

[2017-10-10 23:53] vesper8 opened #27 "position tabs below the content pane?"
is there a way to allow the tabs to be below the content instead of above?

[2017-10-11 12:31] willemvb commented on #27
Currently there's no way to accomplish this in the DOM. You can however try a CSS solution to reverse the order of tabs and content.
In our example CSS, you would also have to tweak the borders of the tabs a bit, since they are 'open' at the bottom right now.

[code]

[2017-10-11 12:31] #27 closed, assigned to willemvb

[2017-10-13 09:02] vesper8 commented on #27
thank you @willemvb that worked perfectly!

[2017-10-16 20:54] freekmurze commented on #26
Answered in #28

[2017-10-16 20:54] #26 closed, assigned to nobody

[2017-10-18 06:24] vesper8 opened #29 "problem when dynamic import change base href="/""
I've been trying very hard to get dynamic imports working, so that my vue components only get instantiated when they are actually requested on the page.

After some tinkering with webpack's config and doing a lot of reading. I found the fix that makes the problem go away. Simply add
[code]

in your <head> and just like that my dynamic imports are now working. Looks hacky right? Well it was suggest

[2017-10-18 06:42] vesper8 commented on #29
Figured it out!!

Finally it was adding this to my webpack.mix.js that solved the problem and allowed me to remove that line from <head>

[code]

[2017-10-18 06:42] #29 closed, assigned to nobody

[2017-10-18 07:26] semanta opened #30 "add prop disabled"
Please add disabled prop to disable a tab

[2017-10-18 07:41] freekmurze commented on #30
Feel free to send a PR with tests and an updated readme

[2017-10-19 15:09] jillztom opened #31 "Event on opening and closing a tab"
Is there a way to trigger an event when you switch to and switch back from a tab?

[2017-10-19 21:07] jillztom commented on #31
I got it solved. Took the `changed` event emitted during the tab switch.

[2017-10-19 21:07] #31 closed, assigned to nobody

[2017-10-27 19:15] ryan-lang opened #32 "changed event fires twice on each change"
I'm running into a small issue with the "changed" event: every time a tab is changed, the event is emitted twice.

This seems to happen because `selectTab()` is actually called twice.  It happens once directly via the click handler, and a second time due to the `hashchange` event listener.

It seems to me that we'd want to either let the click event handler initiate the change, OR the hashchange e

[2017-10-30 09:31] manelclos opened #33 "Document selectTab in README"
Would be nice to have this in the README.

[2017-10-30 10:21] freekmurze commented on #33
Feel free to send PRs to improve the readme.

[2017-10-30 10:21] #33 closed, assigned to nobody

[2017-11-14 22:04] farnetani opened #34 "Create tabs in runtime with vue-router"
I'm wanting to make when the user chooses a left-side option to be created at the runtime rendering location (`<router-view></router-view>`) a tab containing the component of the route that he selected. It is possible? Do you have any examples? Does Component work well with vue-router?

[2017-11-15 07:32] cristijora commented on #34
@farnetani for a vue-router approach I'd recommend doing it without a component as it's more flexible
https://codesandbox.io/s/m3v85m5o2j

Starting from there you could dynamically render the tabs in a list, add more on click and so on.

[2017-11-16 08:45] odai-alali opened #35 "Add icon component as prefix/suffix"
Hi, Thanks for sharing this useful component.

There is this use case that I have a question about. We mostly use components to generate icons, like [here](https://github.com/Justineo/vue-awesome#usage).

How can I pass this icon/component to prefix?

[2017-11-17 16:26] pieterjandesmedt commented on #35
This works:
[code]
It would probably work better with a `<slot>` than with the current html property, but that needs a PR.

[2017-11-19 13:23] odai-alali commented on #35
There is an old [branch](https://github.com/spatie/vue-tabs-component/tree/slots-for-prefix-and-suffix) that implements this

I've just noticed it, I will try it later.

@sebastiandedeyne are there any plans to merge this with master?

[2017-11-19 16:32] sebastiandedeyne commented on #35
The implementation was never finished, because we never were able to find a complete working solution (other people have tried too in vain...)

Feel free to give it a go of course!

For now, you'll need to use @pieterjandesmedt's solution.

Duplicate of #8

[2017-11-19 16:32] #35 closed, assigned to nobody

[2017-11-21 02:49] jakohole opened #37 "How to $emit tab name to parent?"
Right now My_Parent component pass array of tab, named tabA, to My_Child component. Then My_Chid component render a tab using 'vue-tabs-component'. What I am trying to do is to emit a 'selected tab' back to the parent component.

I have tried using @changed in <tab> but it doesn't work. Could you please suggest me how to emit tab is whenever a tab is changed?

Thank you very much

[2017-11-23 09:17] krystalcampioni opened #38 "Component not working properly in IE"
First of all, thanks a lot for the awesome component!

I've noticed that the component doesn't work properly in IE. I know it's kind of a pain to support IE 11 and I don't know if it is on the roadmap for your project, but for the project that I'm currently working on IE is still almost 12% of the visits :/

<img width="889" alt="screen shot 2017-11-23 at 10 00 36" src="https://user-images.githubu

[2017-11-23 09:23] sebastiandedeyne commented on #38
You can solve this issue by adding an `Array.find` polyfill to your bundle :)

[2017-11-23 09:23] #38 closed, assigned to nobody

[2017-11-23 09:48] krystalcampioni commented on #38
thanks, @sebastiandedeyne I'll do that :)

[2017-11-23 13:18] volkova-annie commented on #38
@sebastiandedeyne Could you please explain, what do you mean "adding an Array.find polyfill to your bundle"?
Where should I add it?

[2017-11-23 15:44] krystalcampioni commented on #38
@volkova-annie you can either use just the array find polyfill, as here: https://www.npmjs.com/package/array.find-polyfill

or if you prefer you can use babel-polyfill that comes with some other useful polyfills: https://babeljs.io/docs/usage/polyfill/#installation

basically just:
`npm install --save babel-polyfill`

then in your webpack.config
`import "babel-polyfill";`

and include it to your a

[2017-11-24 07:43] #37 closed, assigned to nobody

[2017-11-24 14:09] volkova-annie commented on #38
@krystalcampioni Thanks a lot :)

[2017-12-06 12:39] sebastiandedeyne commented on #17
This would require a pretty big change in our workflow, we'd preferably need something CI-ish for this. Unless there are lots of people asking for this, we're gonna hold off on this for now.

I don't know if this would help in your case, but you can fetch the dist code from unpkg if you need a direct link.

https://unpkg.com/vue-tabs-component@1.4.0/dist/index.js

[2017-12-06 12:39] #17 closed, assigned to nobody

[2017-12-06 12:39] #30 closed, assigned to nobody

[2017-12-06 12:40] sebastiandedeyne commented on #15
I'd accept a non-breaking PR to our webpack config that resolves this issue.

[2017-12-06 12:42] sebastiandedeyne commented on #32
Calling selectTab twice doesn't sound like the way we want this to behave! We'd accept a PR that fixe this.

[2017-12-06 12:44] sebastiandedeyne commented on #34
I haven't used this component together with Vue router yet so can't really say if there are pitfalls.

Feel free to share your findings here, or open a specific issue if you encounter any bugs :)

[2017-12-06 12:44] #34 closed, assigned to nobody

[2018-01-11 07:13] nPaul opened #41 "disable turbolinks"
Please add data-turbolinks=false on tab links.
On Rails application with turbolinks had bugs, page alwayse reloading when click on tab.

[2018-01-11 18:05] jpvicari opened #42 "Dependencies"
I'm having some trouble building locally and noticed some missing packages, I've added a few but haven't been able to determine all of them. What are all the dependencies? I'd be happy to add them and issue a pull request.

[2018-01-15 07:51] sebastiandedeyne commented on #41
We're not going to add this by default to the library as we don't want to maintain stuff that's tightly coupled to a third party.

You could disable Turbolinks on the entire component by adding it to the top level.

[code]

If we can add a generic prop or something similar to make this easier we're open to extending the package, as long as it's not tied to a specific implementation.

[2018-01-15 07:52] #41 closed, assigned to nobody

[2018-01-15 07:53] sebastiandedeyne commented on #42
Could you be more specific? What was missing? As far as I know, `package.json`'s contents are correct.

[2018-01-15 15:49] jpvicari commented on #42
webpack-dev-server was missing, as well as a few babel-plugin's

I was having a few other issues resolving paths, but I believe that was due to the test environment I was working in. I was able to start the project locally, so I'm good moving forward testing a few new features.

Thanks!

[2018-01-18 20:40] kvasov opened #43 "Scoped styles"
if I use scoped styles in a vue file, then the styles have data-v, and the element does not have

[code]

in browser:

[code]

[code]

[2018-01-23 11:55] dhaeb opened #44 "Dependencies with browserify"
I can't import your lib using browserify due to releative imports in your index.js (those files are not in the dist folder, they are in the src folder), e.g.:
[code]

[code]

[2018-01-23 11:55] dhaeb commented on #44
I use an other tab lib now, sorry :/

[2018-01-24 07:59] DaxChen commented on #43
Hi @kvasov, Vue loader now supports `/deep/` for scoped styles to opt out hashing from a portion of the child tree.

Some reported `>>>` works in SASS/SCSS too, but sometimes it doesn't work for me, so I use `/deep/` in the example below.

[code]

[2018-01-24 08:51] sebastiandedeyne commented on #43
What does your html template look like?

[2018-01-24 15:26] kvasov commented on #43
@sebastiandedeyne
![2018-01-24 18 25 34](https://user-images.githubusercontent.com/8845745/35340382-05a1260a-0134-11e8-87ba-747c2ad9dd00.png)

[2018-01-24 15:31] kvasov commented on #43
@DaxChen Thank you, I will try

[2018-02-04 12:13] DaxChen opened #45 "<Tab> `id`s have extra # in front: id="foo" renders to id="#foo""
see this on your demo page, inspect on the `panel`s!

[2018-02-05 10:49] jzatt opened #46 "Set active tab on load"
I've been trying to figure out if there is a way to set what tab should be active on load in the template? I know that you can set it with the url fragment, but it doesn't really fit my use case.

Something like the code to disable a tab `is-disabled="true"` for example; `is-active="true"`

    <tab name="First tab">
        First tab content
    </tab>
    <tab name="Second tab" :is-active="true"

[2018-02-06 13:01] Meenakshise opened #47 "Not working"
After cloning the npm install is failing
![image](https://user-images.githubusercontent.com/5516586/35860910-df451f9c-0b6b-11e8-8b01-f7481975aee5.png)

[2018-02-15 17:34] evanernest commented on #45
+1

Laravel Dusk won't test these malformed id attributes.

[2018-02-18 21:14] george-silva opened #48 "Thank you"
This is not an issue or bug, I just wanted to say thanks for this package. I started to write my own and I soon realized that there a bunch of edge cases on this sort of thing.

I used your package and i just worked. Even with my own css.

Thanks 👍

[2018-02-23 10:06] sebastiandedeyne commented on #48
Awesome, you're welcome 😄

[2018-02-23 10:06] #48 closed, assigned to nobody

[2018-02-23 10:07] sebastiandedeyne commented on #47
What npm version are you on?

[2018-02-23 10:08] sebastiandedeyne commented on #47
I think this has something to do with npm's recent `prepublish` script changes, build script will need to be updated.

[2018-02-23 10:09] sebastiandedeyne commented on #46
Sorry, this currently isn't supported by this library.

[2018-02-23 10:09] #46 closed, assigned to nobody

[2018-02-23 10:10] #44 closed, assigned to nobody

[2018-02-23 10:10] sebastiandedeyne commented on #43
I assume this is resolved? Feel free to reopen if this is still an issue.

[2018-02-23 10:10] #43 closed, assigned to nobody

[2018-02-23 10:16] Meenakshise commented on #47
thanks for the reply. I got some other sample to test it. It worked for me..

[2018-03-04 06:10] kfirba opened #49 "Transitions"
Hey.

I was playing around with this package and tried to get some nice transition for the tab’s content. Unfortunately, I couldn’t get it to work. I suspect that that we need to do is to wrap the actual code in the `tab.vue` file in a `<transition>` element which then we can define the appropriate classes for the transition itself.

Maybe what we can do is to accept a transition name as a prop of

[2018-03-06 22:06] evanernest commented on #45
Made PR #50 to address this situation. Not really a JS ninja, but I tried to adhere to the contributing guidelines. Please forgive any faux pas.

[2018-03-07 22:03] drkhunter opened #51 "Changing url on tab selection"
I'm trying to come up with a way of changing the url when selecting one of the tabs.  So instead of a url fragment `example.com/home#tab1`, it would be `example.com/home/tab1`.  Is this something which could be worked into the component?

[2018-03-11 08:27] reikaP opened #52 "Working with axios"
How to working active tabs with axios? tried to implement to alphabetical pagination but i don't have any idea even didn't have any documentation to work with script tag.

[2018-03-11 19:06] JBtje commented on #51
You can use `<tabs @changed="tabChanged">` to catch the tab-change event, and update the URL yourself in the method tabChanged, using `router.replace(location)`

do note that the @changed event is emitted once after rendering, allowing you to set the URL accordingly.

@spatie: perhaps add a note for the @changed event in the documentation

[2018-03-11 19:11] JBtje commented on #52
Not sure what you're asking, but with `<tabs @changed="tabChanged">` you can trigger your own method (in this case `tabChanged`). The event sends the tab component, so
[code]
with that code you can grab the tab name, and load data via axios on request.

[2018-03-11 20:26] drkhunter commented on #51
Awesome, thank you.

[2018-03-11 20:26] #51 closed, assigned to nobody

[2018-03-15 07:26] jjloneman opened #53 "How can I apply custom CSS to this component?"
From the README, I see that you can import css from `node_modules/vue-tabs-component/docs/resources/tabs-component.css`, and this works fine when I import the css globally in my `index.js`.

However, when I use Vue components, how can I apply custom styling to a `tab` component?

If I remove the reference to the `tabs-component.css` stylesheet from `index.js`, and just copy and paste the css you h

[2018-03-16 16:43] jfabiani opened #54 "is possible to get the events a tab will emit - need to know a different tab was clicked"
When my users click on a tab that is not active I need a way to do a few things before leaving the active tab content.  Is that possible????  Is there a before_change???
In my situation - if the edit mode is active I need to de-activate the edit mode and cancel any updates.

[2018-03-20 11:54] aphofstede commented on #45
@evanernest Note that those are not malformed in HTML5: https://mathiasbynens.be/notes/html5-id-class
You might be able to escape them in your selectors (e.g. in your tests) with (double) backslash. (`document.querySelector('#\\#foo')`)
That being said, I would also say it's a bug if it becomes id="#foo" if you pass id="foo". +1

[2018-03-20 13:36] evanernest commented on #45
@aphofstede Thanks. That does work. Learn something new every day. I rescind the "malformed" portion of my statement.

But yeah, in my case, the component is generating the id by kebab-casing the name attribute from the `<tab>`, so it seems like undesired behavior to add the '#'.

[2018-03-20 14:02] aphofstede commented on #45
@sebastiandedeyne PR good enough to merge? May be a breaking change, since it'll probably break many people's tests and other code that references elements by ID.

[2018-04-18 11:29] siebevh opened #56 "active on load in the template"
I've been trying to figure out if there is a way to set what tab should be active on load in the template? I know that you can set it with the url fragment, but it doesn't really fit my use case.

Something like the code to disable a tab is-disabled="true" for example; is-active="true"

[code]
Or is there any other way to solve the same behavior?

[2018-04-24 01:19] waghcwb opened #57 "Add custom CSS class to tab header item"
I can add custom CSS class to the component content, like this
[code]

But, how can I customize the tab header attributes?

[2018-04-26 13:09] pzjzeason opened #58 "Tabs have no CSS"
**I'm new with Vue and Vue cli. I'd like to try out this tabs-component, and my code in App.vue is as follows:**
[code]
In browser:
![image](https://user-images.githubusercontent.com/36041376/39308912-4958bb94-4999-11e8-811d-1495fa66813e.png)

**What can I do to fix it, please show me the way!**

[2018-05-01 18:06] Salmondx opened #59 "Multiple tabs on the same page"
I have to make 2 components on the same page, but tabs should have different styles. Is it possible to customize tabs not only with global css?

[2018-05-01 18:27] Salmondx commented on #59
Found a solution. You need just to wrap your tabs with a div and then use this wrapper in css:
[code]
And in less:
[code]

[2018-05-02 11:59] karam94 commented on #58
You have to manually put the CSS in yourself.

https://github.com/spatie/vue-tabs-component/blob/master/docs/resources/tabs-component.css

Good luck!

[2018-05-09 09:03] hoangnguyen291 opened #60 "page scroll to top when click change tab"
when I click to another tab, page is scrolling to top, this is very annoying

[2018-05-17 08:23] forset001 opened #61 "vue-tabs-component contenteffest"
hello
   Excuse me; vue-tabs-component how and animate.css use together.  thanks

[2018-05-18 14:31] hicksben359 opened #62 "Error in IE11 - Object doesn't support property or method 'find'"
Couldn't see a mention of which browsers are supported in the docs but I'm getting an error in IE11 - on your demo page it's coming in at line 11214 of app.js and is _Object doesn't support property or method 'find'_

Any chance of a fix?

[2018-05-27 14:29] boomhq commented on #62
Look #38

[2018-05-29 06:12] ian-pinto-vamaship opened #63 "How do I conditionally set a tab visibility false using setTabVisible method"
How do I conditionally set a tab visibility false using setTabVisible method. I need hide/unhide certain tabs conditionally.

[2018-06-06 12:18] JBtje commented on #63
**Note: why isn't is-visible a prop?**

[code]
[code]

or you can do it programically:
[code]
but that is not the way vue is intended to work...

[2018-06-12 15:20] jillztom commented on #54
yeah this `beforeChange` would be nice to have!

[2018-06-14 15:53] yumyo commented on #49
Is there any progress or plan about this?
While not ideal, I will be happy even just with a class on the active panel as already available on the active tab.

[2018-06-22 07:42] nick-dolan opened #65 "Can't import vue-tabs-component"
Hello, when I'm trying to import library: `import Tabs from 'vue-tabs-component';`
I see, Error: Cannot find module '../expiringStorage' from ...
What could be the problem?

[2018-06-26 08:43] lee-alderdice opened #66 "Typescript Support (Feature Request)"
Hi,

Would you be able to add Typescript support into your next release.  The code below creates a 'No declaration file ...' error and the same applies for global import into main.ts.

[code]

Many thanks,
Lee

[2018-06-27 18:45] manelclos commented on #63
Hi @ian-pinto-vamaship,

You can watch the variable to automate it, reusing @JBtje data ():

[code]

[code]

@JBtje I see no reason why isVisible could not be a property, PR? :)

[2018-06-28 14:28] JBtje commented on #63
@manelclos PR is only useful if the project owner accepts them.... Seems that's not the case for this project. (my PR is still not accepted)

[2018-07-02 15:19] dissolve opened #69 "abilty to set default tab when none specified"
It would be nice to specify that if there is no other reason to select a tab, don't just assume tab[0] but rather have an additional option that can pass the ID or the index perhaps of the tab to default to.

It would just need an additional option above this line
https://github.com/spatie/vue-tabs-component/blob/master/src/components/Tabs.vue#L76

[2018-07-02 15:26] dissolve commented on #69
To explain a little more, this is useful when you disable the tab cache.

[2018-07-04 20:27] umar13893 opened #71 "Change tab programmatically"
Hello. Thanks for great package. Is it possible to change the tab programmatically by clicking on a link or button? thank you!

[2018-07-12 10:01] #52 closed, assigned to nobody

[2018-07-16 10:01] #53 closed, assigned to nobody

[2018-08-01 06:04] thexpand commented on #71
I've tried with an anchor, pointing to the correct hash, but it does not work.
Also, I've tried creating an anchor with `aria-controls` with a value, equal to the tab name and `role="tab"`, but it does not work either. Apparently, such functionality does not exist.
Any solutions/workarounds?

[2018-08-01 21:33] mannyyang commented on #71
Haven't tried it in code, but you could probably set a ref on the Tabs component and with that reference have access to use the internal selectTab() method that the tab component uses on its click event.

[2018-08-02 11:57] mkosir commented on #58
pzjzeason, add a following line into your component script:
import 'vue-tabs-component/docs/resources/tabs-component.css';
This will addd default styling to the component.

[2018-08-09 14:57] techenby commented on #35
Instead of doing a slot for a prefix/sufix what about a slot for the whole name?

[2018-08-13 12:52] farhadf246 opened #73 "how change tabs in methods"
Hi
i need a function to change tabs in methods without useUrlFragment.

[2018-08-13 13:07] farhadf246 commented on #73
i solve my problem with this:
`this.$refs.mytab.selectTab("#1", event);`

please complete document
thanks for useful component ♥

[2018-08-19 10:01] #56 closed, assigned to nobody

[2018-08-22 16:06] Preen commented on #65
+1

[2018-08-27 10:00] #57 closed, assigned to nobody

[2018-08-27 20:48] joshuacurtiss commented on #65
+1

Using Browserify, Vueify, and Babelify.  If that gives a hint.  Bummer, this component is dead in the water if it won't compile in my project.

[2018-08-28 12:43] romanmarkelov opened #74 "Tabs get [__ob__: Observer]"
Hi, there! I created a some component  and extended at a vue-tabs-component and I have following behavior: my component 50/50 initialize with bugs on [78 number of string](https://github.com/spatie/vue-tabs-component/blob/master/src/components/Tabs.vue#L75) it get  [__ob__: Observer]  array and does not pass the condition

<details><summary>MyComponent</summary>

[code]

[code]

</details>

[2018-08-31 14:14] #15 closed, assigned to nobody

[2018-08-31 14:16] manelclos commented on #63
@JBtje as you can see here https://github.com/spatie/vue-tabs-component/pull/67#issuecomment-417677592 you just need to be patient

[2018-08-31 14:17] sebastiandedeyne commented on #54
Gonna hold off on this, might as well listen to the `changed` event in this case. I might reconsider this in a next major version.

[2018-08-31 14:17] #54 closed, assigned to nobody

[2018-08-31 14:27] sebastiandedeyne commented on #62
Not going to fix this, there are a few `find` polyfill out there, add one of those to your application's bundle.

[2018-08-31 14:27] #62 closed, assigned to nobody

[2018-08-31 14:28] #32 closed, assigned to nobody

[2018-08-31 14:31] sebastiandedeyne commented on #42
Thanks for the heads up! Looking into this.

[2018-08-31 14:31] #42 closed, assigned to nobody

[2018-08-31 14:38] sebastiandedeyne commented on #45
Makes sense to merge imo since it was producing invalid html

[2018-08-31 14:38] #45 closed, assigned to nobody

[2018-08-31 14:38] sebastiandedeyne commented on #49
Transitions currently aren't supported, but we'll keep this in mind in a possible next major version

[2018-08-31 14:38] #49 closed, assigned to nobody

[2018-08-31 14:38] #73 closed, assigned to nobody

[2018-08-31 14:40] sebastiandedeyne commented on #66
Sorry, we're not planning to maintain a type declaration file at the moment. I sugges you declare the minimum necessary typings in your own application.

[2018-08-31 14:40] #66 closed, assigned to nobody

[2018-08-31 14:41] sebastiandedeyne commented on #65
I have no experience with module resolution in browserify. Can anyone tell me what causes this?

[2018-08-31 14:42] sebastiandedeyne commented on #69
PR merged!

[2018-08-31 14:42] #69 closed, assigned to nobody

[2018-08-31 21:53] #58 closed, assigned to nobody

[2018-08-31 22:02] #59 closed, assigned to nobody

[2018-08-31 22:03] sebastiandedeyne commented on #61
We don't have any experience with animate.css, so can't really help out on this front.

[2018-08-31 22:03] #61 closed, assigned to nobody

[2018-08-31 22:05] sebastiandedeyne commented on #60
Could you share your code so we can see what's going wrong? Normally this should be prevented.

Gonna close this since it's an older issue and I'm cleaning up the repository a bit. But please open a new issue with some more details if there's still a problem!

[2018-08-31 22:05] #60 closed, assigned to nobody

[2018-08-31 22:11] sebastiandedeyne commented on #63
The visibility method was added to work a round a specific case (see https://github.com/spatie/vue-tabs-component/pull/16).

In hindsight, it should have been done differently, but we don't really want to support any new configuration at the moment, so we're going to stick with the existing API.

We'll revisit this problem in a future major version of this package.

[2018-08-31 22:11] #63 closed, assigned to nobody

[2018-08-31 22:13] sebastiandedeyne commented on #74
Sorry, but I don't fully understand this issue. What error message are you seeing? Or how is the package behaving wrong?

[2018-08-31 22:14] sebastiandedeyne commented on #71
At the moment I recommend using @mannyyang's solution, and call the internal `selectTab` method through a ref.

[2018-08-31 22:14] #71 closed, assigned to nobody

[2018-09-01 18:03] romanmarkelov commented on #74
First (active) tab not initialise. I not get any errors or warnings.

I debug and see the cause
```this.tabs =   [__ob__: Observer] ```

For this cause not passed condition below
[code]

But sometimes MyComponent initialise without troubles

[2018-09-05 16:17] RALLYLANA opened #75 "Multiple Tabs in a components"
I everyone, i create a component that contains 2 or more group of tabs.
So when I click on a tab every other tabs changes their contents. How do I separate the operation of the tabs, so that everyone is independent??

Thanks a lot for every suggestion.

[2018-09-07 12:51] dariuszwisniewski opened #76 "1.5.0 is missing"
As in the title the newest version of code isn't tagged. Could you please provide some details on when is it going to be available?

[2018-09-07 14:47] sebastiandedeyne commented on #76
Was going to release this week but didn't find the time, expect it early next week :)

[2018-09-09 03:47] joshuacurtiss commented on #65
I wish I knew more about it.  I googled a bit and found this interesting bit:
https://github.com/browserify/browserify/issues/1310#issuecomment-113143686

Appears it could be addressed with this tweak to the Browserify config. But I haven't had time to test this out.

[2018-09-10 07:24] dariuszwisniewski commented on #76
That would be perfect, thank you! :)

[2018-09-12 08:37] dariuszwisniewski commented on #76
@sebastiandedeyne any updates on that ? I think I'll have to implement a workaround for now as I can't wait any longer :) Cheers

[2018-09-13 13:39] swaminator commented on #60
I have the same issue. I'm using the https://github.com/pskordilakis/vuepress-tabs and the page scrolls to the top automatically. This happens randomly not just when I click on a new tab.

[2018-09-13 13:41] swaminator opened #78 "Page scrolls to the top randomly"
I'm using: https://github.com/pskordilakis/vuepress-tabs which integrates tabs with my Vuepress project. I've got it working, however I run into issues where as I scroll the page randomly jumps to the top. It is not 100% reproducible unfortunately but happens pretty regularly (about once every 10 scrolls)

[2018-09-14 13:27] sebastiandedeyne commented on #76
Published!

[2018-09-14 13:27] #76 closed, assigned to nobody

[2018-09-29 07:05] controlla-io commented on #78
Not sure if this is related, but on my installation when I click the tab it works fine, but a second click makes the screen scroll down to the top of the tab content (this might almost be a feature - is that the case?)

[2018-10-10 18:30] XGhozt commented on #78
Can confirm. No page scrolling should happen at all when a tab is clicked.

[2018-10-17 15:10] JonathanBesson commented on #65
Hello, someone has a result about this bug ? i'm on it and i'm stuck on it ...

I'm using browserify, but i'm a newbies of that ... if anyone has an idea.

thanks a lot, bests regards all

[2018-10-18 07:41] suits-at commented on #75
Try disabling the urlFragment via the options [see Documentation here](https://github.com/spatie/vue-tabs-component#disable-modifying-the-url-fragment ).

[2018-10-22 10:22] Pinegin opened #80 "do not use expiringStorage if cacheLifetime = 0"
Hi.

Could make changes:
do not use expiringStorage if cacheLifetime = 0

Thanks!

[2018-10-24 11:23] freekmurze commented on #80
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:23] #80 closed, assigned to nobody

[2018-10-24 11:23] freekmurze commented on #78
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:23] #78 closed, assigned to nobody

[2018-10-24 11:23] freekmurze commented on #75
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:23] #75 closed, assigned to nobody

[2018-10-24 11:24] freekmurze commented on #74
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:24] #74 closed, assigned to nobody

[2018-10-24 11:24] freekmurze commented on #65
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:24] #65 closed, assigned to nobody

[2018-10-24 11:24] freekmurze commented on #47
We don't use this package anymore in our own projects and cannot justify the time needed to maintain it anymore. That's why we have chosen to abandon it. Feel free to fork our code and maintain your own copy.

[2018-10-24 11:24] #47 closed, assigned to nobody